---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Art" pubDate={new Date()}>
  <p style="text-align: justify;">
    This is the Art page. More content coming soon.
  </p>
</Layout>
