---
import Layout from '../layouts/BlogPost.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<Layout
	title="Frederick Sebastian"
	description={SITE_DESCRIPTION}
	pubDate={new Date('March 20 2025')}
	heroImage="/fred.jpg"
>
	<p style="text-align: center; font-size: 0.9em; font-weight: bold; margin-top: 0.2em;">
   		 Engineering | Science | Art
  	</p>
	
	<p style="text-align: justify;">
		I am a biomedical engineer and researcher, recently completing my Ph.D. in soft tissue biomechanics. 
		My work focuses on the intersection of medical technology, robotics, and data science — including soft robotic devices 
		for neurorehabilitation, early-stage clinical trial design, and computational modeling of disease trends.
	</p>

	<p style="text-align: justify;">
		Before my doctoral work, I contributed to a soft robotics project at the National University of Singapore that evolved 
		into a commercial product for hand rehabilitation. I’ve also contributed to early-stage clinical trials regulated by the 
		U.S. Food and Drug Administration, and bring experience across both academic research and industry-focused, translational work.
	</p>

	<p style="text-align: justify;">
		In my free time, I explore creativity through cooking, baking, writing, drawing, and food photography. I see these 
		practices as deeply connected to my work — they require experimentation, attention to detail, and a love of process.
	</p>

	<p style="text-align: justify;">
		This site brings together the technical and creative sides of my journey. You can find highlights from my projects, 
		view my publications, or just get a sense of the ideas that shape my work, both in and out of the lab.
	</p>

</Layout>
