---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Publications & Patents" pubDate={new Date()}>
  <p style="text-align: justify;">
    This is the Publications page. More content coming soon.
  </p>
</Layout>
